DirectoryIndex index.php

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirection vers index.php si la route n'existe pas comme fichier
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
