<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cinéphoria{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="min-h-screen flex flex-col justify-between">

{% block body %}
    {# Contenu principal de ta homepage ou autres pages #}
{% endblock %}

{# Footer #}
{% if app.request.attributes.get('_route') != 'app_login' %}
    {% include 'partials/_footer.html.twig' %}
{% endif %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
